[submodule "tisch"]
	path = dependencies/tisch
	url = https://github.com/dgoffredo/tisch.git
[submodule "protojson"]
	path = dependencies/protojson
	url = https://github.com/dgoffredo/protojson.git
[submodule "node-amd-loader"]
	path = dependencies/node-amd-loader
	url = https://github.com/ajaxorg/node-amd-loader.git
[submodule "dependencies/gitree"]
	path = dependencies/gitree
	url = https://github.com/dgoffredo/gitree.git
